<div class="container-buttons">
    <a href="./task/@Task.Id">
        <div class="taskWorker-card">
            <p>@Task.Title </p>
            @if (Task.Specialization != null)
            {
                <p>@Task.Specialization.Name</p>
            }
            <p>@Task.TimeStart.ToShortTimeString() - @Task.TimeEnd.ToShortTimeString()</p>
            <p>@Task.TimeStart - @Task.TimeEnd</p>
            <p>@_taskStatus</p>
        </div>
    </a>
</div>

@code {
    [Parameter]
    public TaskOutputModelAllInfo Task { get; set; }

    private IStatusService _statusService;

    private string _taskStatus;

    public TaskWorkerCard()
    {
        _statusService = new StatusService();
    }

    protected override void OnInitialized()
    {

        _taskStatus = _statusService.GetStatusNameByIndex((int)Task.Status);
    }
}