<button @onclick="() => ShowModal(taskcCard.Id)" class="worker-button">	&#128051;</button>

<div class="task-card black">
    <p>@taskcCard.Title </p>
    <p>@taskcCard.Description </p>
    <p>@taskcCard.TimeStart.ToShortTimeString() - @taskcCard.TimeEnd.ToShortTimeString()</p>
    <p>@taskcCard.Specialization.Name</p>
    <p>@taskcCard.Id </p>
</div>


@code {
    [Parameter]
    public TaskOutputModelWithSpecialization taskcCard { get; set; }
}