<div class="container-buttons">
    <a href="./taskWorker/task/@task.Id">

    <div class="taskWorker-card">
        <p>@task.Title </p>
        <p>@task.Specialization</p>
            <p>@task.TimeStart.ToShortTimeString() - @task.TimeEnd.ToShortTimeString()</p>
       @*  <p>@getStatusNameByIndex(task.Status)</p> *@
        <p>@task.TimeStart - @task.TimeEnd</p>
        <p>@getStatusNameByIndex((int)task.Status)</p>
    </div>
</a>
 </div>
@code {
    [Parameter]
    public TaskOutputModelAllInfo task { get; set; }

    private GetDisplayName _name;

    public string getStatusNameByIndex(int index)
    {
        string statusName = "";

        switch (index)
        {
            case 0:
                statusName = StatusUI.Received.GetDisplayName();

                break;
            case 1:
                statusName = StatusUI.InProgress.GetDisplayName();

                break;
            case 2:
                statusName = StatusUI.Completed.GetDisplayName();

                break;
            case 3:
                statusName = StatusUI.Canselled.GetDisplayName();

                break;
        }

        return statusName;
    }
}
