<div class="container-buttons">
    <a href="./taskWorker/task/@task.Id">

    <div class="taskWorker-card">
        <p>@task.Title </p>
        <p>@task.Specialization</p>
            <p>@task.TimeStart.ToShortTimeString() - @task.TimeEnd.ToShortTimeString()</p>
       @*  <p>@getStatusNameByIndex(task.Status)</p> *@
        <p>@task.TimeStart - @task.TimeEnd</p>
        <p>@getStatusNameByIndex((int)task.Status)</p>
    </div>
</a>
 </div>
@code {
    [Parameter]
    public TaskOutputModelAllInfo task { get; set; }

    private IEnumService _enumService;

    public WorkerTaskCard()
    {
        _enumService = new EnumService();
    }

    public string getStatusNameByIndex(int index)
    {
        string statusName = "";

        switch (index)
        {
            case 0:
                statusName = _enumService.GetDisplayName(StatusUI.Received);

                break;
            case 1:
                statusName = _enumService.GetDisplayName(StatusUI.InProgress);

                break;
            case 2:
                statusName = _enumService.GetDisplayName(StatusUI.Completed);

                break;
            case 3:
                statusName = _enumService.GetDisplayName(StatusUI.Canselled);

                break;
        }

        return statusName;
    }
}