<a href="./taskMaster/task/@task.Id">

<div class="taskMaster-card">
    <p>@task.Title </p>
    <p>@task.Date</p>
    <p>@task.TimeStart</p>
    <p>@task.TimeEnd</p>
    <p>@task.Status</p>
</div>
</a>
 
@code {
    [Parameter]
    public TaskOutputModel task { get; set; }

}
