@using YourDay.Components
@using YourDay.Components.Templates
@using YourDay.BLL
@using YourDay.BLL.IServices
@using YourDay.BLL.Models.InputModels
@using YourDay.BLL.Models.OutputModels
<a href="./order/@order.Id">
    <div class="product-card">
        <p>@order.OrderName</p>
        <p>@order.ClientName</p>
        <p>@order.Date</p>
        <p>@order.CountPeople</p>
        <p>@order.Adress</p>
        <p>@order.Comments</p>
    </div>
</a>

@code {
   
    [Parameter]
    public OrderOutputModel order { get; set; }

}
