<div >
    <a href="./manger">

    <div>
            <p>@taskcCard.Title </p>
            @* <p>@taskcCard.S </p> *@
            <p>@taskcCard.TimeStart.ToShortTimeString() - @taskcCard.TimeEnd.ToShortTimeString()</p>
        @* <p>@getStatusNameByIndex(task.Status)</p> *@
    </div>
</a>
 </div>
@code {
    [Parameter]
    public TaskOutputModel taskcCard { get; set; }

    // public string getStatusNameByIndex(int index)
    // {
    //     string statusName = "";

    //     switch (index)
    //     {
    //         case 0:
    //             statusName = "Получен";

    //             break;
    //         case 1:
    //             statusName = "В работе";

    //             break;
    //         case 2:
    //             statusName = "Завершён";

    //             break;
    //         case 3:
    //             statusName = "Отменена";

    //             break;
    //     }

    //     return statusName;
    // }
}