@page "/order/{Id:int}"
@rendermode InteractiveServer
@attribute [StreamRendering]
@inject NavigationManager NavigationManager
@using YourDay.BLL.Clients;

@code
{
    [Parameter]
    public int Id { get; set; }

    private string _orderName;

    private DateTime _date;

    private string _adress;

    private int _countPeople;

    private int _price;

    private OrderClient _orderClient;

    private List<OrderOutputModel> _orders;

    public Order()
    {
        Id = 2;
        _orderClient = new OrderClient();

        _orders = _orderClient.GetOrderById(Id);

    }

    protected override void OnInitialized()
    {

        var p = _orders[0];
        _orderName = p.OrderName;
        _date = p.Date;
        _adress = p.Address;
        _countPeople = p.CountPeople;
        _price = p.Price;

    }


    List<string> tasks = new List<string>() { "Привезти красные розы", "Заказать торт", "Привезти оформление", "Нужна живая съемка", "Часовая фотосессия" };
    private void NavigateToPage()
    {
        NavigationManager.NavigateTo("/newTask");
    }


    private List<TaskMasterOutputModel> _tasks;
    private IMasterService _masters;

    
}




<div class="body">
     <section>
        <table class="table">
            <thead>
                <tr>
                    <th>Праздник</th>
                    <th>Клиент</th>
                    <th>Статус</th>
                    <th>Дата</th>
                    <th>Адрес</th>
                    <th>Количество гостей</th>
                    <th>Цена</th>
                    <th>Комментарии</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                    <td>@_orderName</td>
                    <td> @_date</td>
                    <td>@_adress</td>
                    <td>@_countPeople</td>
                    <td>@_price</td>
                    </tr>
            </tbody>
        </table>
    </section>

    <dialog id="task" aria-labelledby="heading">
        <h2 id="heading">Что сделать с таской? &#128054 </h2>

        <form method="dialog">

            <button>
                Изменить
            </button>
            <button>
                Установить статус: 
            </button>
            <button>
                Архивировать
            </button>
        </form>
    </dialog>

    <section>
        <h2> Задачи:</h2>
        <div class="container-task">
            @foreach (var i in _tasks)
            {

                <MasterTaskCard task="i" ></MasterTaskCard>
               
            }
        </div>
    </section>

    <section>
        <div class="button-container">
            <button class="green-button"> История заказа </button>
            <button class="green-button"> Завершить заказ </button>
            <button class="green-button"> Другое </button>
        </div>
    </section>
</div>
