@page "/orderr"
@* @rendermode InteractiveServer *@

<p>@Id</p>
<h1>@_orderName</h1>
<h2>@_clientNamete</h2>
<h2>@_date</h2>
<h2>@_countPeople</h2>
<h2>@_adress</h2>
<h2>@_comments</h2>


@code
{
    [Parameter]
    public int Id { get; set; }

    private string _orderName;

    private string _clientNamete;

    private string _date;

    private int _countPeople;

    private string _adress;

    private string _comments;

    private IOrderService _orderService;

    public OrderPage()
    {
        _orderService = new OrderServiceMock();
    }

    protected override void OnInitialized()
    {
        //     _productService = new ProductServiceMock();

        var p = _orderService.GetOrderById(Id);
        _orderName = p.OrderName;
        _clientNamete = p.ClientName;
        _date = p.Date;
        _countPeople = p.CountPeople;
        _adress = p.Adress;
        _comments = p.Comments;
    }
}