@page "/order/{Id:int}"
@attribute [StreamRendering]
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

@if (returnRole != RoleUI.Manager.ToString())
{
    <ReturnToStart></ReturnToStart>
}
else
{
    <div class="body">
        <section class="white">
            <table class="table white">
                <thead>
                    <tr>
                        <th>Праздник</th>
                        <th>Дата</th>
                        <th>Адрес</th>
                        <th>Количество гостей</th>
                        <th>Цена</th>
                        <th>Статус</th>
                        <th>Менеджер</th>
                        <th>Клиент</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                       
                        <td>@OrderOutput.OrderName</td>
                        <td>@OrderOutput.Date</td>
                        <td>@OrderOutput.Address</td>
                        <td>@OrderOutput.CountPeople</td>
                        <td>@OrderOutput.Price</td>
                        <td>@OrderOutput.Status.GetDisplayName()</td>
                        <td>@OrderOutput.Manager = orderOutput.Manager</td>
                        <td>@OrderOutput.Manager = orderOutput.Client</td>
                    </tr>
                </tbody>
            </table>
        </section>


        


        <button onclick="window.manager.showModal()" class="purple-button"> Назначить менеджера на заказ</button>
        <button onclick="window.order.showModal()" class="purple-button"> Изменить статус</button>
        <dialog id="task" aria-labelledby="heading">
            <h2 id="heading">Что сделать с таской? &#128054 </h2>

            <form method="dialog">
                <button>
                    Изменить
                </button>
                <button>
                    Установить статус:
                </button>
                <button>
                    Архивировать
                </button>
            </form>
        </dialog>

        <dialog id="order" aria-labelledby="heading">
            <h2 id="heading">Изменить статус: &#128054 </h2>
            <form>
                <select @onchange="UpdateStatusOrder">
                    <option value="0">@StatusUI.Received.GetDisplayName()</option>
                    <option value="1">@StatusUI.InProgress.GetDisplayName()</option>
                    <option value="2">@StatusUI.Completed.GetDisplayName()</option>
                    <option value="3">@StatusUI.Canselled.GetDisplayName()</option>
                </select>
            </form>
            <form method="dialog">
                <button> Закрыть</button>
            </form>

        </dialog>

        <dialog id="task" aria-labelledby="heading">
            <h2 id="heading">Изменить статус: &#128054 </h2>
            
            <form method="dialog">
                <button> Закрыть</button>
            </form>

        </dialog>

        <dialog id="manager" aria-labelledby="heading">
            <div class="manager-reassign-container">
                <div>Назначить менеджера на заказ:</div>
                <div>
                    <select onchange="@ManagerSelection" value="@selectedManagerId">
                        @foreach (ManagerNameAndPhoneOutputModel outputModel in _managers)
                        {
                            <option value="@outputModel.Id">@outputModel.Name</option>
                        }
                    </select>
                </div>
                <div>
                    <button onclick="@AddManagerToOrder" disabled="@isSameManagerSelected">Назначить</button>
                </div>
                <form method="dialog">
                    <button> Закрыть</button>
                </form>
            </div>
        </dialog>


        <ManagerDialogForTaskModalForm SelectedTaskId=selectedtaskId></ManagerDialogForTaskModalForm>
        <section>
            <h2 class="manager-h1"> Задачи:</h2>
            <div class="container-task">
                @foreach (var i in task)
                {
                    <button @onclick="() => ShowModal(i.Id)" class="worker-button"><TaskManagerCard taskcCard="i" OnOpenModal="ShowModal"> </TaskManagerCard> </button>
                }
            </div>
        </section>


        <section>
            <div class="button-container">
                <button class="purple-button"> История заказа </button>
                <button class="purple-button"> Завершить заказ </button>
                <button class="purple-button"> Другое</button>
                <button class="order-button"> <AddTaskCard order=OrderOutput> </AddTaskCard> </button>
                
            </div>
        </section>
    </div>
}


@code
{
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public OrderOutputModel OrderOutput { get; set; }

    public TaskOutputModel TaskOutput { get; set; }

    private IOrderService _orderService;

    private ITaskService _taskService;

    public IEnumerable<TaskOutputModelWithSpecialization> task;

    public StatusUI status;

    [CascadingParameter]
    public Task<AuthenticationState> State { get; set; }

    public List<ManagerNameAndPhoneOutputModel> _managers;

    private List<TaskOutputModelAllInfo> _tasks;

    private IEnumerable<Claim> claims = Enumerable.Empty<Claim>();
    private string returnRole;


    private IManagerService _managerService;
    public int selectedManagerId;
    public bool isSameManagerSelected = true;
    private int selectedtaskId;

    public Order()
    {
        _orderService = new OrderService();

        _taskService = new TaskService();

        OrderOutput = new OrderOutputModel();
        _managerService = new ManagerService();

        TaskOutput = new TaskOutputModel();

        IEnumerable<TaskOutputModelWithSpecialization> task = new List<TaskOutputModelWithSpecialization>();

        status = StatusUI.Completed;
    }

     private async Task ShowModal(int taskId)
    {
        selectedtaskId = taskId;

        await JSRuntime.InvokeVoidAsync("user.showModal");

        StateHasChanged();
    }

    public void UpdateStatus()
    {
        _orderService.UpdateOrderStatus(Id, status);
    }
    public void Close()
    {

        NavigationManager.NavigateTo("/order/Id");
    }

    protected override async Task OnInitializedAsync()
    {
        await GetClaims().ConfigureAwait(false);
        if (returnRole == "Manager")
        {
            OrderOutputModel orderOutput = _orderService.GetOrderById(Id);
            OrderOutput.Id = orderOutput.Id;
            OrderOutput.OrderName = orderOutput.OrderName;
            OrderOutput.Date = orderOutput.Date;
            OrderOutput.Address = orderOutput.Address;
            OrderOutput.CountPeople = orderOutput.CountPeople;
            OrderOutput.Price = orderOutput.Price;
            OrderOutput.Status = orderOutput.Status;
            OrderOutput.Manager = orderOutput.Manager;
            selectedManagerId = orderOutput.Manager.Id;

            _managers = _managerService.GetAllManagers();

            task = _taskService.GetTasksByOrderIdWithSpecialization(Id);
        }
    }

    public void UpdateStatusOrder(ChangeEventArgs e)
    {
        int newStatusInt = int.Parse(e.Value.ToString());

        StatusUI newStatus = new StatusUI();

        switch (newStatusInt)
        {
            case 0:
                newStatus = StatusUI.Received;

                break;
            case 1:
                newStatus = StatusUI.InProgress;

                break;
            case 2:
                newStatus = StatusUI.Completed;

                break;
            case 3:
                newStatus = StatusUI.Canselled;

                break;
        }

        _orderService.UpdateOrderStatus(Id, newStatus);
    }


    private async Task GetClaims()
    {
        var authState = await State;
        var user = authState.User;


        if (user.Identity is not null && user.Identity.IsAuthenticated)
        {
            claims = user.Claims;
            returnRole = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).Single();
        }
    }
    public void ManagerSelection(ChangeEventArgs e)
    {
        selectedManagerId = int.Parse(e.Value.ToString());

        isSameManagerSelected = selectedManagerId == OrderOutput.Manager.Id;
    }
    public void AddManagerToOrder()
    {
        _managerService.AddManagerIdToOrder(selectedManagerId, Id);
    }
}
    

   

    
