@page "/order/{Id:int}"
@attribute [StreamRendering]
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

@code
{
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public OrderOutputModel OrderOutput { get; set; }

    public TaskOutputModel TaskOutput { get; set; }

    private IOrderService _orderService;

    private ITaskService _taskService;

    public List<TaskOutputModel> task;

    public Order()
    {
        _orderService = new OrderService();

        _taskService = new TaskService();

        OrderOutput = new OrderOutputModel();

        TaskOutput = new TaskOutputModel();

        List<TaskOutputModel> task = new List<TaskOutputModel>();

    }

    protected override void OnInitialized()
    {
        OrderOutputModel order = _orderService.GetOrderById(Id);
        OrderOutput.Id = order.Id;
        OrderOutput.OrderName = order.OrderName;
        OrderOutput.Date = order.Date;
        OrderOutput.Address = order.Address;
        OrderOutput.CountPeople = order.CountPeople;
        OrderOutput.Price = order.Price;

        task = _taskService.GetTaskByOrderId(Id);

    }

    private void NavigateToPage()
    {
        
    }

}

<div class="body">
    <section class="white">
        <table class="table white">
            <thead>
                <tr>
                    <th>Праздник</th>
                    <th>Дата</th>
                    <th>Адрес</th>
                    <th>Количество гостей</th>
                    <th>Цена</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                    <td>@OrderOutput.OrderName</td>
                    <td>@OrderOutput.Date</td>
                    <td>@OrderOutput.Address</td>
                    <td>@OrderOutput.CountPeople</td>
                    <td>@OrderOutput.Price</td>
                    <td>@OrderOutput.Status</td>
                    </tr>
            </tbody>
        </table>
    </section>

    <dialog id="task" aria-labelledby="heading">
        <h2 id="heading">Что сделать с таской? &#128054 </h2>

        <form method="dialog">
            <button>
                Изменить
            </button>
            <button>
                Установить статус: 
            </button>
            <button>
                Архивировать
            </button>
        </form>
    </dialog>

    <section>
        <h2 class="manager-h1"> Задачи:</h2>
        <div class="container-task">
            @foreach (var i in task)
            {
                <button class="task-button"><TaskManagerCard taskcCard=i> </TaskManagerCard> </button>
            }
        </div>
    </section>

    <section>
        <div class="button-container">
            <button class="purple-button"> История заказа </button>
            <button class="purple-button"> Завершить заказ </button>
            <button class="purple-button"> Другое</button>
            <button class="order-button"> <AddTaskCard order=OrderOutput> </AddTaskCard> </button>
        </div>
    </section>
</div>
