@page "/order/{Id:int}"
@rendermode InteractiveServer
@attribute [StreamRendering]
@inject NavigationManager NavigationManager

@code
{
    [Parameter]
    public int Id { get; set; }

    private string _orderName;

    private int _clientId;

    private int _managerId;

    private int _statusId;

    private string _date;

    private string _adress;

    private int _countPeople;

    private int _price;

    private int _evaluation;

    private string _comments;

    private IOrderService _orderService;

    public Order()
    {
        _orderService = new OrderServiceMock();

        _masters = new MasterServiceMock();

        _tasks = _masters.GetAllTask();
    }

    protected override void OnInitialized()
    {
        //     _productService = new ProductServiceMock();

        // var p = _orderService.GetOrderById(Id);
        // _orderName = p.OrderName;
        // _clientId = p.ClientId;
        // _managerId = p.ManagerId;
        // _statusId = p.StatusId;
        // _date = p.Date;
        // _adress = p.Adress;
        // _countPeople = p.CountPeople;
        // _price = p.Price;
        // _comments = p.Comments;

    }


    List<string> tasks = new List<string>() { "Привезти красные розы", "Заказать торт", "Привезти оформление", "Нужна живая съемка", "Часовая фотосессия" };
    private void NavigateToPage()
    {
        NavigationManager.NavigateTo("/newTask");
    }


    private List<TaskOutputModel> _tasks;
    private IMasterService _masters;

    
}




<div class="body">
     <section>
        <table class="table">
            <thead>
                <tr>
                    <th>Праздник</th>
                    <th>Клиент</th>
                    <th>Статус</th>
                    <th>Дата</th>
                    <th>Адрес</th>
                    <th>Количество гостей</th>
                    <th>Цена</th>
                    <th>Комментарии</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                    <td>@_orderName</td>
                    <td>@_clientId</td>
                    <td>@_statusId</td>
                    <td> @_date</td>
                    <td>@_adress</td>
                    <td>@_countPeople</td>
                    <td>@_price</td>
                    <td>@_comments</td>
                    </tr>
            </tbody>
        </table>
    </section>

    <dialog id="task" aria-labelledby="heading">
        <h2 id="heading">Что сделать с таской? &#128054 </h2>

        <form method="dialog">

            <button>
                Изменить
            </button>
            <button>
                Установить статус: 
            </button>
            <button>
                Архивировать
            </button>
        </form>
    </dialog>

    <section>
        <h2> Задачи:</h2>
        <div class="container-task">
            @foreach (var i in _tasks)
            {

                <MasterTaskCard task="i" ></MasterTaskCard>
               
            }
        </div>
    </section>

    <section>
        <div class="button-container">
            <button class="green-button"> История заказа </button>
            <button class="green-button"> Завершить заказ </button>
            <button class="green-button"> Другое </button>
        </div>
    </section>
</div>
