@page "/order/{Id:int}"
@attribute [StreamRendering]
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

@if (returnRole != RoleUI.Manager.ToString())
{
    <ReturnToStart></ReturnToStart>
}
else
{
    <div class="body">
        <section>
            <table class="table">
                <thead>
                    <tr>
                        <th>Праздник</th>
                        <th>Дата</th>
                        <th>Адрес</th>
                        <th>Количество гостей</th>
                        <th>Цена</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@OrderOutput.OrderName</td>
                        <td>@OrderOutput.Date</td>
                        <td>@OrderOutput.Address</td>
                        <td>@OrderOutput.CountPeople</td>
                        <td>@OrderOutput.Price</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <dialog id="task" aria-labelledby="heading">
            <h2 id="heading">Что сделать с таской? &#128054 </h2>

            <form method="dialog">
                <button>
                    Изменить
                </button>
                <button>
                    Установить статус:
                </button>
                <button>
                    Архивировать
                </button>
            </form>
        </dialog>

        <section>
            <h2> Задачи:</h2>
            <div class="container-task">
                @*             @foreach (var i in _tasks)
            {
            <WorkerTaskCard task="i" ></WorkerTaskCard>
            } *@
            </div>
        </section>

        <section>
            <div class="button-container">
                <button class="green-button"> История заказа </button>
                <button class="green-button"> Завершить заказ </button>
                <button class="green-button"> Другое </button>
            </div>
        </section>
    </div>
}

@code
{
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public OrderOutputModel OrderOutput { get; set; }

    public TaskOutputModel TaskOutput { get; set; }

    private IOrderService _orderService;

    private ITaskService _taskService;

    public List<TaskOutputModel> task;

    [CascadingParameter]
    public Task<AuthenticationState> State { get; set; }

    private IEnumerable<Claim> claims = Enumerable.Empty<Claim>();

    private string returnRole;

    public Order()
    {
        _orderService = new OrderService();

        _taskService = new TaskService();

        OrderOutput = new OrderOutputModel();

        TaskOutput = new TaskOutputModel();

        List<TaskOutputModel> task = new List<TaskOutputModel>();

    }

    protected override async Task OnInitializedAsync()
    {
        await GetClaims().ConfigureAwait(false);
        if (returnRole == "Manager")
        {
            OrderOutputModel orderOutput = _orderService.GetOrderById(Id);
            OrderOutput.Id = orderOutput.Id;
            OrderOutput.OrderName = orderOutput.OrderName;
            OrderOutput.Date = orderOutput.Date;
            OrderOutput.Address = orderOutput.Address;
            OrderOutput.CountPeople = orderOutput.CountPeople;
            OrderOutput.Price = orderOutput.Price;
        }
    }

    List<string> tasks = new List<string>() { "Привезти красные розы", "Заказать торт", "Привезти оформление", "Нужна живая съемка", "Часовая фотосессия" };

    private void NavigateToPage()
    {
        
    }

    private List<TaskOutputModelAllInfo> _tasks;

    private async Task GetClaims()
    {
        var authState = await State;
        var user = authState.User;
<div class="body">
    <section class="white">
        <table class="table white">
            <thead>
                <tr>
                    <th>Праздник</th>
                    <th>Дата</th>
                    <th>Адрес</th>
                    <th>Количество гостей</th>
                    <th>Цена</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                    <td>@OrderOutput.OrderName</td>
                    <td>@OrderOutput.Date</td>
                    <td>@OrderOutput.Address</td>
                    <td>@OrderOutput.CountPeople</td>
                    <td>@OrderOutput.Price</td>
                    <td>@OrderOutput.Status</td>
                    </tr>
            </tbody>
        </table>
    </section>

        if (user.Identity is not null && user.Identity.IsAuthenticated)
        {
            claims = user.Claims;
            returnRole = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).Single();
        }
    }
}
    <dialog id="task" aria-labelledby="heading">
        <h2 id="heading">Что сделать с таской? &#128054 </h2>

        <form method="dialog">
            <button>
                Изменить
            </button>
            <button>
                Установить статус: 
            </button>
            <button>
                Архивировать
            </button>
        </form>
    </dialog>

    <section>
        <h2 class="manager-h1"> Задачи:</h2>
        <div class="container-task">
            @foreach (var i in task)
            {
                <button class="task-button"><TaskManagerCard taskcCard=i> </TaskManagerCard> </button>
            }
        </div>
    </section>

    <section>
        <div class="button-container">
            <button class="purple-button"> История заказа </button>
            <button class="purple-button"> Завершить заказ </button>
            <button class="purple-button"> Другое</button>
            <button class="order-button"> <AddTaskCard order=OrderOutput> </AddTaskCard> </button>
        </div>
    </section>
</div>
