@page "/order/{Id:int}"
@attribute [StreamRendering]
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

@code
{
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public OrderOutputModel OrderOutput { get; set; }

    private IOrderService _orderService;

    public Order()
    {
        _orderService = new OrderService();
        OrderOutput = new OrderOutputModel();
    }

    protected override void OnInitialized()
    {
        OrderOutputModel orderOutput = _orderService.GetOrderById(Id);
        OrderOutput.Id = orderOutput.Id;
        OrderOutput.OrderName = orderOutput.OrderName;
        OrderOutput.Date = orderOutput.Date;
        OrderOutput.Address = orderOutput.Address;
        OrderOutput.CountPeople = orderOutput.CountPeople;
        OrderOutput.Price = orderOutput.Price;
    }

    List<string> tasks = new List<string>() { "Привезти красные розы", "Заказать торт", "Привезти оформление", "Нужна живая съемка", "Часовая фотосессия" };
    private void NavigateToPage()
    {
        NavigationManager.NavigateTo("/newTask");
    }

    private List<TaskOutputModelAllInfo> _tasks;

}

<div class="body">
     <section>
        <table class="table">
            <thead>
                <tr>
                    <th>Праздник</th>
                    <th>Дата</th>
                    <th>Адрес</th>
                    <th>Количество гостей</th>
                    <th>Цена</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                    <td>@OrderOutput.OrderName</td>
                    <td>@OrderOutput.Date</td>
                    <td>@OrderOutput.Address</td>
                    <td>@OrderOutput.CountPeople</td>
                    <td>@OrderOutput.Price</td>
                    </tr>
            </tbody>
        </table>
    </section>

    <dialog id="task" aria-labelledby="heading">
        <h2 id="heading">Что сделать с таской? &#128054 </h2>

        <form method="dialog">
            <button>
                Изменить
            </button>
            <button>
                Установить статус: 
            </button>
            <button>
                Архивировать
            </button>
        </form>
    </dialog>

    <section>
        <h2> Задачи:</h2>
        <div class="container-task">
            @foreach (var i in _tasks)
            {
                <WorkerTaskCard task="i" ></WorkerTaskCard>
            }
        </div>
    </section>

    <section>
        <div class="button-container">
            <button class="green-button"> История заказа </button>
            <button class="green-button"> Завершить заказ </button>
            <button class="green-button"> Другое </button>
        </div>
    </section>
</div>
