@page "/taskMaster/task/{Id:int}"

@code {
    [Parameter]
    public int Id{ get; set; }

    private string _title;

    private int _orderId;

    private DateTime _date;

    private DateTime _timeStart;

    private DateTime _timeEnd;

    private int _specializationId;

    private string _status;

    private string _description;

    private List<TaskOutputModel> _tasks;
    private MasterClient _masters;

    public TaskPage()
    {
        _masters = new MasterClient();
    }
    protected override void OnInitialized()
    {
        var task = _masters.GetTaskByMasterId;
       
    }
 }
<section>
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Номер заказа</th>
                <th>Статус заказа</th>
                <th>Время начала заказа</th>
                <th>Время окончания заказа</th>
                <th>Описание заказа</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@_title</td>
                <td>@_orderId</td>
                <td>@_status</td>
                <td>@_timeStart</td>
                <td>@_timeEnd</td>
                <td>@_description</td>
            </tr>
        </tbody>
    </table>
</section>
 
  
