<dialog id="manager" aria-labelledby="heading">
    <div class="manager-reassign-container">
        <div>Назначить менеджера на заказ:</div>
        <div>
            <select onchange="@ManagerSelection" value="@_selectedManagerId">
                @if (_managers is not null)
                {
                    @foreach (ManagerNameAndPhoneOutputModel outputModel in _managers)
                    {
                        <option value="@outputModel.Id">@outputModel.Name</option>
                    }
                }
            </select>
        </div>
        <div>
            <button onclick="@AddManagerToOrder" disabled="@_isSameManagerSelected">Назначить</button>
        </div>
        <form method="dialog">
            <button> Закрыть</button>
        </form>
    </div>
</dialog>


@code {
    [Parameter]
    public int OrderId { get; set; }

    [Parameter]
    public int ManagerId { get; set; }

    private int _selectedManagerId;

    private bool _isSameManagerSelected;

    private IEnumerable<ManagerNameAndPhoneOutputModel> _managers;

    private IManagerService _managerService;

    public ManagerDialogForAssignManagerModalForm()
    {
        _managers = Enumerable.Empty<ManagerNameAndPhoneOutputModel>();
        _managerService = new ManagerService();
    }

    protected override async Task OnInitializedAsync()
    {
        _managers = await _managerService.GetAllManagers();
    }

    public void ManagerSelection(ChangeEventArgs e)
    {
        _selectedManagerId = int.Parse(e.Value.ToString());

        _isSameManagerSelected = (_selectedManagerId == ManagerId);
    }

    public void AddManagerToOrder()
    {
        _managerService.AddManagerIdToOrder(_selectedManagerId, OrderId);
    }
}

@*

        @code {
    [Parameter]
    public int OrderId { get; set; }

    [Parameter]
    public int ManagerId { get; set; }

    private int _selectedManagerId;

    private bool _isSameManagerSelected;

    private IEnumerable<ManagerNameAndPhoneOutputModel> _managers;

    private IManagerService _managerService;

    public ManagerDialogForAssignManagerModalForm()
    {
        _managers = Enumerable.Empty<ManagerNameAndPhoneOutputModel>();
        _managerService = new ManagerService();
    }

    protected override async Task OnInitializedAsync()
    {
        _managers = await _managerService.GetAllManagers();
    }

    public void ManagerSelection(ChangeEventArgs e)
    {
        _selectedManagerId = int.Parse(e.Value.ToString());

        _isSameManagerSelected = (_selectedManagerId == ManagerId);
    }

    public void AddManagerToOrder()
    {
        _managerService.AddManagerIdToOrder(_selectedManagerId, OrderId);
    }
} *@