<div class="modal-dialog">
    <div class="modal-content">
        <EditForm Model="TaskModel" FormName="TaskModel" OnValidSubmit="Add">
            <DataAnnotationsValidator />
            <div class="modal-body">
                <div class="form-group">
                    <label class="margin">Название:</label>
                    <InputText class="form-control" @bind-Value="TaskModel.Title" placeholder="Введите название задачи" />
                    <ValidationMessage For="@(() => TaskModel.Title)" />
                </div>
                <div class="form-group">
                    <label class="margin">Описание:</label>
                    <InputText class="form-control" @bind-Value="TaskModel.Description" placeholder="Введите описание" />
                    <ValidationMessage For="@(() => TaskModel.Description)" />
                </div>
                <div class="form-group">
                    <label class="margin">Специализация:</label>
                    <InputSelect class="form-control" @bind-Value="TaskModel.Specialization" placeholder="Выберите специализацию:">
                        @foreach (SpecializationOutputModel i in _specializations)
                        {
                            <option value=@i.Id.>@i.Name</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => TaskModel.Specialization)" />
                </div>
                <div class="form-group">
                    <label class="margin">Время начала:</label>
                    <DateInput TValue="DateTime" EnableMinMax="true" Min="@_minDate" Max="@_maxDate" class="form-control" @bind-Value=TaskModel.TimeStart placeholder="Введите время начала" />
                    <ValidationMessage For="@(() => TaskModel.TimeStart)" />
                </div>
                <div class="form-group">
                    <label class="margin">Время окончания:</label>
                    <DateInput TValue="DateTime" EnableMinMax="true" Min="@_minDate" Max="@_maxDate" class="form-control" @bind-Value=TaskModel.TimeEnd placeholder="Введите время окончания" />
                    <ValidationMessage For="@(() => TaskModel.TimeEnd)" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="purple-button" data-bs-toggle="modal">Создать</button>
                <button type="button" class="purple-button" data-bs-dismiss="modal">Отмена</button>
            </div>
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm(FormName = "TaskModel")]
    public TaskInputModel TaskModel { get; set; }

    [Parameter]
    public Action<TaskInputModel> AddTask { get; set; }

    private DateTime _minDate;

    private DateTime _maxDate;

    private ISpecializationService _specializationService;

    private IEnumerable<SpecializationOutputModel> _specializations;

    public TaskModalForm()
    {
        TaskModel = new TaskInputModel();
        _minDate = DateTime.Now;
        _maxDate = _minDate.AddDays((double)DateForOrder.Period);
        _specializationService = new SpecializationService();
        _specializations = Enumerable.Empty<SpecializationOutputModel>();
    }

    protected override async Task OnInitializedAsync()
    {
        _specializations = await _specializationService.GetAllSpecialization();
    }

    private void Add()
    {
        TaskModel.Title = TaskModel.Title.ToLower();
        TaskModel.Description = TaskModel.Description.ToLower();
        AddTask(TaskModel);
    }
}